* {
  text-align: center;
  margin: 0;
}

table {
  border-collapse: collapse;
  min-width: 350px;
}

.widget tbody th {
  padding: 4px;
}

.widget tbody tr {
  border-bottom: 1px solid #ccc;
  height: 30px;
}

.widget tbody tr:first-child {
  border-bottom: 1px solid black;
}

.color-dark-grey {
  color: #777;
}

.align-left {
  text-align: left;
}
